USE [master]
GO
/****** Object:  Database [F:\C_C#_C++\VISUAL STUDIO CODE\TRA_SUA\SQL\TRA_SUA.MDF]    Script Date: 3/11/2025 10:54:22 PM ******/
CREATE DATABASE [F:\C_C#_C++\VISUAL STUDIO CODE\TRA_SUA\SQL\TRA_SUA.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tra_Sua', FILENAME = N'F:\C_C#_C++\Visual Studio Code\Tra_Sua\Sql\Tra_Sua.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tra_Sua_log', FILENAME = N'F:\C_C#_C++\Visual Studio Code\Tra_Sua\Sql\Tra_Sua_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [F:\C_C#_C++\VISUAL STUDIO CODE\TRA_SUA\SQL\TRA_SUA.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [F:\C_C#_C++\VISUAL STUDIO CODE\TRA_SUA\SQL\TRA_SUA.MDF]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 3/11/2025 10:54:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[banSo] [int] IDENTITY(1,1) NOT NULL,
	[trangthai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Ban] PRIMARY KEY CLUSTERED 
(
	[banSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 3/11/2025 10:54:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHDChitiet] [nvarchar](50) NOT NULL,
	[maHD] [nvarchar](50) NOT NULL,
	[maSp] [nvarchar](50) NOT NULL,
	[soluong] [int] NULL,
	[ngayghidon] [date] NULL,
	[donGia] [money] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[maHDChitiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 3/11/2025 10:54:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoadon] [nvarchar](50) NOT NULL,
	[maKH] [nvarchar](50) NOT NULL,
	[tenKH] [nvarchar](50) NULL,
	[banSo] [int] NOT NULL,
	[ngaylapHD] [date] NOT NULL,
	[tongtien] [money] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHoadon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 3/11/2025 10:54:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [nvarchar](50) NOT NULL,
	[tenKH] [nvarchar](50) NULL,
	[sdt] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[solanmua] [int] NULL,
	[loaiKH] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 3/11/2025 10:54:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [nvarchar](50) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[gioitinh] [nvarchar](50) NULL,
	[sdt] [nchar](15) NULL,
	[email] [nvarchar](50) NULL,
	[chucvu] [nvarchar](50) NULL,
	[luong] [money] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 3/11/2025 10:54:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSp] [nvarchar](50) NOT NULL,
	[tensp] [nvarchar](50) NULL,
	[gia] [money] NULL,
	[mota] [nvarchar](50) NULL,
	[loai] [nvarchar](50) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[maSp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 3/11/2025 10:54:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[tenTK] [nvarchar](50) NOT NULL,
	[matkhau] [nvarchar](50) NOT NULL,
	[loaiTK] [nvarchar](50) NULL,
	[maNV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[tenTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ban] ON 

INSERT [dbo].[Ban] ([banSo], [trangthai]) VALUES (1, N'Trống')
INSERT [dbo].[Ban] ([banSo], [trangthai]) VALUES (2, N'Trống')
INSERT [dbo].[Ban] ([banSo], [trangthai]) VALUES (3, N'Trống')
SET IDENTITY_INSERT [dbo].[Ban] OFF
GO
INSERT [dbo].[NhanVien] ([maNV], [hoten], [gioitinh], [sdt], [email], [chucvu], [luong]) VALUES (N'1', NULL, NULL, NULL, NULL, N'admin', NULL)
GO
INSERT [dbo].[SanPham] ([maSp], [tensp], [gia], [mota], [loai]) VALUES (N'TS001', N'Trà Sữa Thái Xanh', 50000.0000, N'', N'Trà sữa')
INSERT [dbo].[SanPham] ([maSp], [tensp], [gia], [mota], [loai]) VALUES (N'TS002', N'Trà Sữa Kem Trứng', 55000.0000, N'', N'Trà sữa')
INSERT [dbo].[SanPham] ([maSp], [tensp], [gia], [mota], [loai]) VALUES (N'TS003', N'Hồng Trà', 45000.0000, N'', N'Trà sữa')
GO
INSERT [dbo].[TaiKhoan] ([tenTK], [matkhau], [loaiTK], [maNV]) VALUES (N'1', N'1', N'admin', N'1')
GO
ALTER TABLE [dbo].[Ban] ADD  DEFAULT (N'Trống') FOR [trangthai]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [DF_ChiTietHoaDon_ngayghidon]  DEFAULT (getdate()) FOR [ngayghidon]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_HoaDon_ngaylapHD]  DEFAULT (getdate()) FOR [ngaylapHD]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF__SanPham__mota__5AEE82B9]  DEFAULT ('') FOR [mota]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHoadon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([maSp])
REFERENCES [dbo].[SanPham] ([maSp])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Ban] FOREIGN KEY([banSo])
REFERENCES [dbo].[Ban] ([banSo])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Ban]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
USE [master]
GO
